*{
	margin: 0;
	padding: 0;
	
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
} 
input,button{
	outline: none;
}





/*banner开始*/


.top{
	margin: 0 auto;
	width: 1200px;
	height: 90px;
}
.top img{
	float: left;
}
.top1{
	padding-top: 23px;
	font-family: '微软雅黑';
	width: 656px;
	height: 68px;
	float: left;
}
.top2{
	padding-left: 185px;
	font-size: 18px;
    color: #0b4199;
    float: left;
}
.top3{
	padding-left: 40px;
    color: #7d7d7d;
    float: left;
}
.top4 a{
	padding-left: 17px;
	color: #ef2c34;
	float: left;
}
.top5{
	padding-left: 7px;
	margin-left: 11px; 
	float: left;
	border-left: solid 1px #7d7d7d;
}
.top5 a{
	color: #7d7d7d;
}
.top6{
	float: left;
	padding-top: 7px;
}
.daohang{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.daohang2{
	float: left;
	padding-top: 5px;
}
.daohang2 ul li{
	float: left;
	font-size: 17px;
}
.daohang2 ul li a{
	font-family: '微软雅黑';
	color: #333333;
}
.daohang1{
	padding-left: 37px;
}
.sousuo{
	width: 255px;
	height: 40px;
	padding-left: 85px;
	float: left;
}
.sousuo input{
	width: 255px;
	height: 40px;
	float: left;
	border: none;
	font-size: 14px;
	padding-left: 12px;
	background-color: #ebeaea;
}
.biaozhi{
	float: left;
}
.banner{
	background: url(../img/zhongdianshouye/banner.jpg) no-repeat center center;
	height: 430px;
	margin: 0 auto;
}




/*内容开始*/


.content{
	height: 1016px;
	background-color: #e9eaee;
}
.content1{
    width: 1200px;
    height: 1016px;
    margin: 0 auto;
    background-color: red;
}
.kongbai{
	height: 13px;
	background-color: #e9eaee;
}
.fangkuai1{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	background-color: #e2e2e2;
}
.huise{
    height: 60px;
    width: 1200px;
    background: url(../img/zhongdianshouye/huise.png)no-repeat center left;
}
.xinwenzhongxin{
	font-family:'微软雅黑';
	font-size: 16px;
	color: #333333;
	display: block;
	padding-left: 18px;
	padding-top: 19px;
}
.gengduo{
	float: right;
    padding-right: 23px;
    display: block;
    margin-top: -20px;
}
.gengduo a{
    color: #7d7d7d;
}
.baise{
	width: 1200px;
	height: 540px;
	background-color: #fff;
}
.baisezuobian{
	float: left;
    width: 645px;
    height: 540px;
    padding-left: 14px;
}
.baisezuobian1{
    padding-top: 20px;
}
.baisezuobian2{
	color: gray;
	padding-top: 21px;
}
.baisezuobian3{
	color: gray;
	padding-top: 15px;
}
.baisezuobian4{
	padding-left: 480px;
}
.baiseyoubian{
	float: left;
    width: 541px;
    height: 540px;
}
.diyige{
    width: 541px;
	height: 160px;
	padding-top: 15px;
}
.shu1{
	width: 92px;
	height: 120px;
    font-size: 50px;
    padding-top: 21px;
    color: #e9eaee;
    float: left;
}
.shuzi1{
	width: 449px;
	height: 144px;
	float: left;
}
.riqi{
	padding-left: 36px;
	color: #dbdbdb;
}
.wenben1{
	padding-top: 30px;
	color: #7d7d7d;
}
.wenben2{
	padding-top: 9px;
	color: #7d7d7d;
}
.wenben3{
	padding-left: 348px;
}
.dierge{
    width: 541px;
	height: 170px;
	padding-top: 15px;
}
.riqi1{
	padding-left: 130px;
	color: #dbdbdb;
}
.fangkuai2{
	width: 1200px;
	height: 390px;
	margin: 0 auto;
	background-color: #e2e2e2;
}
.baisede{
	width: 1200px;
	height: 330px;
	margin: 0 auto;
	background-color: #fff;
}
.baisedezuobian{
	width: 615px;
	height:330px;
	float: left;
}
.zuobiantupian{
	float: left;
	width: 330px;
	height: 330px;
	padding-left: 15px;
}
.zuobianwenzi{
	float: left;
	width: 254px;
	height: 330px;
}
.hhhhh{
	padding-left: 140px;
}
.dazi{
	font-family: '微软雅黑';
	font-size: 19px;
}
.xiaozi{
	padding-top: 50px;
	color: #7d7d7d;
}
.lastzi{
    padding-top: 13px;
    color: #7d7d7d;
}
.baisedeyoubian{
	width: 585px;
	height:330px;
	float: left;
}
.youbiantupian{
	float: left;
	width: 330px;
	height: 330px;
}
.youbianwenzi{
	float: left;
	width: 250px;
	height: 330px;
}
.hhhhh1{
	padding-left: 155px;
}
.dazi1{
	padding-top: 16px;
	font-size: 19px;
	font-family: '微软雅黑';
}
.xiaozi2{
    padding-top: 21px;
    color: #7d7d7d;
}



/*尾部开始*/



.end{
	background-color: #0b4199;
	width: 100%;
	height: 75px;
}
.end1{
	width: 1200px;
	height: 75px;
    margin: 0 auto;
}
.end ul li{
	float: left;
	color: #ffffff;
}
.end1 p{
	padding-top: 25px;
}
.end2{
	padding-top: 20px;
}
.end3{
	padding-left: 157px;
	padding-top: 20px;
}
.end4{
	padding-left: 494px;
}
.end5{
	padding-top: 20px;
	padding-left: 6px;
}
.ending{
	height: 320px;
	color: #dbdbdb;
	background-color: #454545;
}
.ending1{
	width: 1200px;
	height: 283px;
	margin: 0 auto;
}
.ending2{
	width: 800px;
	height: 193px;
	font-size: 16px;
	font-family: '微软雅黑';
	padding-top: 83px;
	float: left;
}
.ending2 ul{
	float: left;
}
.ending3{
    padding-bottom: 29px;
}

.ending2 ul li a{
	color: #dbdbdb;
}
.zuobian1{
	padding-left: 14px;
}
.zuobian2{
	padding-left: 57px;
}
.zuobian3{
	padding-left: 20px;
}
.zuobian4{
	padding-left: 88px;
}
.youbian1{
	margin-top: 58px;
    padding-left: 8px;
    border-left: solid 1px #525252;
	float: left;
}
.chuntubiaoxiamian{
    font-family: '微软雅黑';
    font-size: 16px;
    padding-bottom: 37px;
}
.dizhi{
    padding-left: 46px;
}
.mail{
	padding-left: 98px;
}
.bottom{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
   
}
.bottom1{
	float: left;
	font-size: 13px;
	padding-left: 28px;
}
.bottom2{
	float: left;
	font-size: 13px;
	padding-left: 226px;
}
.bottom3{
	float: left;
	font-size: 13px;
	padding-left: 89px;
}
.bottom3 ul li{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}
.enddd{
	float: left;
	border-left: solid 1px #7d7d7d;
}
.last{
	position:absolute;
	top:140px;
	right:0px;
	position: fixed;
	z-index: 1;
}
