*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
} 
input,button{
	outline: none;
}

     /*首部和banner开始*/

.head{
	width: 100%;
	height: 30px;
	margin: 0 auto;
	background: url(../img/shouye/header/zuishangfangbeijing.png) no-repeat center center; 
}
.headmid{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.wodeshoucang{
	width: 235px;
	height: 30px;
	float: left;

}
.wodeshoucang li{
	float: left;
}
.wodeshoucang a{
	color: #333333;
	font-size: 12px;

}
.wodeshoucang1{
	margin-right: 7px;
}
.wodeshoucang2{
	margin-left: 3px;
}
.wodeshoucang img{
	padding-top: 5px; 
}
.saomiaojiaru{
	width: 248px;
	height: 30px;
	float: right;
	padding-top: 4px;
}
.saomiaojiaru li{
	float: right;
	color: #333333;
	font-size: 12px;
	margin-left: 7px;
}
.saomiaojiaru a{
	color: #333333;
	font-size: 12px;
}
.head2{
	width: 100%;
	height: 156px;
	margin: 0 auto;
	background-color: #ffffff;
}
.head2mid{
	width: 1200px;
	height: 156px;
	margin: 0 auto;
	text-align: center;
}
.head2mid li{
	float: left;
}
.ezuzhijiaimg{
	width: 182px;
	height: 117px;
	float: left;
	background: url(../img/shouye/header/youaiyouweilai.png) no-repeat center center;
}
.search{
	width: 500px;
	height: 40px;
	margin: 0 auto;
	padding-top: 40px;
}
.search1{
	width: 498px;
	height: 36px;
	border: 2px solid #f83838;
}
.searchkeyword{
	width: 405px;
	height: 36px;
	float: left;
}
.searchkeyword input{
	width: 400px;
	height: 36px;
	float: left;
	margin-left: 5px;
	border: none;
	font-size: 14px;
}
.searchbutton{
	width: 91px;
	height: 37px;
	float: right;
}
.searchbutton button{
	width: 91px;
	height: 36px;
	background-color: #f83838;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: none;
}

.erweima{
	width: 84px;
	height: 91px;
	background: url(../img/shouye/header/erweima.png) no-repeat center center;
	margin: 0 auto;
}

.gouwuche{
	width: 152px;
	height: 70px;
	margin:0 auto;
	text-align: center;
	padding-top: 47px; 
	background: url(../img/shouye/header/gouwuche.png) no-repeat center 47%;
}
.gouwuche a{
	color: #f14e4e;
}
.gouwuche p{
	margin-left: 25px;
	font-size: 14px;
}
.head2midlist2{
	margin-left: 197px;
}
.head2midlist3{
	margin-left: 67px;
}
.head2midlist4{
	margin-left: 11px;
}
.nav{
	width: 530px;
	height: 40px;
	float: left;
}
.nav1{
	width: 89px;
	height: 27px;
	padding-top: 7px;
	background: url(../img/shouye/header/shouyedisehongkuai.png)no-repeat center center;
	margin-right: 36px;
}
.nav1 a{
	color: #fff;
	font-size: 16px;
}
.nav2{
	width: 89px;
	height: 27px;
	padding-top: 7px;
	margin-right: 36px;
}
.nav2 a{
	color: #333333;
	font-size: 16px;
}
.hongxian{
	width: 100%;
	height: 3px;
	margin:0 auto;
	background: url(../img/shouye/header/dingbuhongsehengxian.png) no-repeat center center;
}
.banner{
	width: 100%;
	height: 462px;
	margin:0 auto;
	background: url(../img/shouye/banner/diyizhangdatu.png) no-repeat center center;
}
.bannerspace{
	width: 100%;
	height: 429px;
	margin: 0 auto;
}
.changepicture{
	width: 128px;
	height: 20px;
	margin: 0 auto;
}
.changepicture li{
	float: left;

}
.changepicture1{
	margin-left: 21px;
	margin-right: 14px;
}
.changepicture2{
	margin-left: 14px;
	margin-right: 14px;
}
     /* 首部和banner结束*/

     /*内容开始*/
.position{
	width: 100%;
	height: 107px;
}
.position1{
	width: 1200px;
	height: 107px;
	margin: 0 auto;
}
.position2{
	width: 215px;
	height: 15px;
	margin-top: 27px;
}
.position2 p{
	font-size: 14px;
	color: #333333;
}
.position2 a{
	font-size: 14px;
	color: #333333;
}
.content1{
	width: 100%;
	height: 513px;
}
.content2{
	width: 1200px;
	height: 513px;
	margin: 0 auto;
}
.content2 li{
	float: left;
}
.content2-1{
	width: 600px;
	height: 513px;
	background: url(../img/xiangqing/content/1-3.png) no-repeat 46% top;
}
.content2-2{
	width: 85px;
	height: 513px;
}
.content2-3{
	width: 515px;
	height: 513px;
}
.content3-1{
	width: 600px;
	height: 51px;
	margin-top: 164px;
}
.content4-1{
	width: 26px;
	height: 51px;
	float: left;
}
.content4-2{
	width: 26px;
	height: 51px;
	margin-left: 546px;
}
.content3-2{
	width: 600px;
	height: 73px;
	margin-top: 220px;
}
.content5-1{
	width: 73px;
	height: 73px;
	margin-left: 81px;
}
.content5-2{
	width: 73px;
	height: 73px;
	margin-left: 14px;
}
.line1{
	width: 515px;
	height: 48px;
}
.line1 p{
	font-size: 26px;
	color: #3b3b3b;
}
.line2{
	width: 515px;
	height: 64px;
	background: url(../img/xiangqing/content/rmb.png) no-repeat left center;
}
.line2-1 p{
	font-size: 26px;
	color: #de0019;
}
.line2-1{
	margin-left: 18px;
	margin-top: 16px;
	float: left;
}
.line3{
	width: 515px;
	height: 45px;
}
.line3-1 p{
	font-size: 18px;
	color: #ff9600;
	margin-top: 26px;
}
.line4{
	width: 515px;
	height: 38px;
	background: url(../img/xiangqing/content/du.png) no-repeat 18% center;
}
.line4-1 p{
	font-size: 17.72px;
	color: #979797;
}
.line4-1{
	margin-top: 8px;
	float: left;
}
.line4-2 p{
	font-size: 17.72px;
	color: #979797;
}
.line4-2{
	margin-left: 38px;
	margin-top: 8px;
	float: left;
}
.line5{
	width: 515px;
	height: 50px;
}
.line5-1{
	margin-top: 28px;
}
.line5-1 p{
	font-size: 17.72px;
	color: #979797;
}
.line6{
	width: 515px;
	height: 18px;
}
.line6 p{
	font-size: 17.72px;
	color: #979797;
}
.line7{
	width: 515px;
	height: 44px;
	margin-top: 35px;
}
.line7 p{
	font-size: 17.72px;
	color: #979797;
}
.line8{
	width: 515px;
	height: 39px;
	background: url(../img/xiangqing/content/shuliang.png) no-repeat left center;
}
.line8-1 a{
	color: #979797;
}
.line8-3 a{
	color: #979797;
}
.line8-1 p{
	font-size: 29.16px;
}
.line8-3 p{
	font-size: 29.16px;
}
.line8-1{
	float: left;
	margin-left: 18px;
}
.line8-2 p{
	font-size: 18.55px;
	color: #323232;
}
.line8-2{
	margin-left: 43px;
	margin-top: 8px;
	float: left;
}
.line8-3{
	float: left;
	margin-left: 43px;
}
.line9{
	width: 515px;
	height: 75px;
}
.goumai{
	width: 160px;
	height: 51px;
	margin-top: 24px;
	float: left;
	background: url(../img/xiangqing/content/goumai.png) no-repeat center center;
}
.goumai1 a{
	font-size: 20px;
	color: #fee5e5;
}
.goumai1{
	float: left;
	margin-top: 12px;
	margin-left: 38px;
}
.gouwuche1{
	width: 160px;
	height: 51px;
	margin-top: 24px;
	margin-left: 26px;
	float: left;
	background: url(../img/xiangqing/content/gouwuche.png) no-repeat center center;
}
.gouwuche2 a{
	font-size: 20px;
	color: #fee5e5;
}
.gouwuche2{
	float: left;
	margin-top: 12px;
	margin-left: 34px;
}
.blank1{
	width: 100%;
	height: 97px;
}
.xiangqing1{
	width: 100%;
	height: 47px;
}
.xiangqing2{
	width: 1200px;
	height: 47px;
	margin: 0 auto;
	text-align: center;
	background: url(../img/xiangqing/content/redlong.png) no-repeat center center;
}
.xiangqing3{
	float: left;
	margin-left: 552px;
	margin-top: 10px;

}
.xiangqing3 p{
	color: #ffffff;
	font-size: 22px;
}
.xqcontent{
	width: 100%;
	height: 440px;
}
.xq{
	width: 1200px;
	height: 440px;
	margin: 0 auto;
	background: url(../img/xiangqing/content/bgp.png) no-repeat center top;
}
.xq1{
	width: 1200px;
	height: 106px;
	margin: 0 auto;
}
.xq2{
	width: 1168px;
	height: 54px;
	margin: 0 auto;
	margin-left: 32px;
}
.xq2 p{
	font-size: 18px;
	color: #666666;
}

.xq1-1{
	float: left;
	margin-left: 32px;
	margin-top: 34px;
}
.xq1-1 p{
	font-size: 18px;
	color: #333333;
}
.xq3{
	width: 1200px;
	height: 194px;
	margin: 0 auto;
}
.xq3 li{
	float: left;
}
.xq3-1{
	width: 314px;
	height: 194px;
	margin-left: 34px;
}
.xq3-1 p{
	font-size: 18px;
	color: #666666;
}
.xq3-2{
	width: 314px;
	height: 194px;
	margin-left: 136px;
}
.xq3-2 p{
	font-size: 18px;
	color: #666666;
}
.xq3-3{
	width: 235px;
	height: 194px;
	margin-left: 139px;
}
.xq3-3 p{
	font-size: 18px;
	color: #666666;
}
.xq4-1{
	width: 314px;
	height: 19px;
}
.xq4-2{
	width: 314px;
	height: 19px;
	margin-top: 24px;
}
     /*内容结束*/














     /*尾部开始*/

.redend{
	width: 100%;
	height: 86px;
	margin:0 auto;
	background: url(../img/shouye/bottom/dibuhongsebeijing.png) no-repeat center center;
}
.redend1{
	width: 1200px;
	height: 86px;
	margin:0 auto;
}
.redend1 li{
	float: left;
	color: #fff;
}
.redend1 p{
	float: right;
	margin-top: 34px;
}
.redendlist1{
	width: 138px;
	height: 86px;
	margin-right: 107px;
}
.redendlist1 p{
	margin-right:3px;
}
.redendlist1 img{
	margin-top:15px;
}
.redendlist2{
	width: 138px;
	height: 86px;
	margin-right: 107px;
	margin-left: 107px;
}
.redendlist2 img{
	margin-top:15px;
}
.redendlist3{
	width: 138px;
	height: 86px;
	margin-left: 107px;
}
.redendlist3 img{
	margin-top:15px;
}
.blackend{
	width: 100%;
	height: 248px;
	margin:0 auto;
	background: url(../img/shouye/bottom/dibuheisebeijing.png) no-repeat center center;
}
.blackend1{
	width: 1200px;
	height: 150px;
	margin:0 auto;
}
.blackend1 li{
	float: left;
}
.xiaobiaoti{
	width: 67px;
	height: 20px;
	color: #f5f5f5;
	font-size: 16px;
	margin-top:5px;
	margin-bottom: 11px;
}
.blackend1 a{
	color: #f5f5f5;
	font-size: 14px;
}
.blacklist1{
	width: 95px;
	height: 115px;
	margin-left: 11px;
	margin-right: 88px;
	margin-top:20px;
	line-height: 26px;
}
.blacklist2{
	width: 95px;
	height: 115px;
	margin-right: 88px;
	margin-left:88px;
	margin-top:20px;
	line-height: 26px;
}
.blacklist3{
	width: 95px;
	height: 115px;
	margin-left: 88px;
	margin-top:20px;
	line-height: 26px;
}
.blackend2{
	width: 1200px;
	height: 71px;
	margin: 0 auto;
	padding-top: 26px;
}
.lastline{
	width: 1200px;
	height: 18px;
	margin: 0 auto;
	text-align: center;
	color: #7d7d7d
}
.lastline a{
	color: #7d7d7d;
}
.lastline1{
	width: 1200px;
	height: 16px;
	margin: 0 auto;
	margin-top: 18px;
	text-align: center;
	color: #7d7d7d
}

