*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
} 
input,button{
	outline: none;
}

     /*首部和banner开始*/

.head{
	height: 30px;
	margin: 0 auto;
	background-color: #f4f4f4; 
}
.headmid{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.wodeshoucang{
	width: 235px;
	height: 30px;
	float: left;

}
.wodeshoucang li{
	float: left;
}
.wodeshoucang a{
	color: #333333;
	font-size: 12px;

}
.wodeshoucang1{
	margin-right: 7px;
}
.wodeshoucang2{
	margin-left: 3px;
}
.wodeshoucang img{
	padding-top: 5px; 
}
.saomiaojiaru{
	width: 248px;
	height: 30px;
	float: right;
	padding-top: 4px;
}
.saomiaojiaru li{
	float: right;
	color: #333333;
	font-size: 12px;
	margin-left: 7px;
}
.saomiaojiaru a{
	color: #333333;
	font-size: 12px;
}
.head2{
	height: 156px;
	margin: 0 auto;
	background-color: #ffffff;
}
.head2mid{
	width: 1200px;
	height: 156px;
	margin: 0 auto;
	text-align: center;
}
.head2mid li{
	float: left;
}
.ezuzhijiaimg{
	width: 182px;
	height: 117px;
	float: left;
    background: url(../img/love.png) no-repeat center center;
}
.search{
	width: 500px;
	height: 40px;
	margin: 0 auto;
	padding-top: 40px;
}
.search1{
	width: 498px;
	height: 36px;
	border: 2px solid #f83838;
}
.searchkeyword{
	width: 405px;
	height: 36px;
	float: left;
}
.searchkeyword input{
	width: 400px;
	height: 36px;
	float: left;
	margin-left: 5px;
	border: none;
	font-size: 14px;
}
.searchbutton{
	width: 91px;
	height: 37px;
	float: right;
}
.searchbutton button{
	width: 91px;
	height: 36px;
	background-color: #f83838;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: none;
}
.erweima{
	width: 84px;
	height: 91px;
	background: url(../img/erweima.png) no-repeat center center;
	margin: 0 auto;

}
.gouwuche{
	width: 152px;
	height: 70px;
	margin:0 auto;
	text-align: center;
	padding-top: 47px; 
	background: url(../img/shopping.png) no-repeat center 47%;
}
.gouwuche a{
	color: #f14e4e;
}
.gouwuche p{
	margin-left: 25px;
	font-size: 14px;
}
.head2midlist2{
	margin-left: 197px;
}
.head2midlist3{
	margin-left: 67px;
}
.head2midlist4{
	margin-left: 11px;
}
.nav{
	width: 530px;
	height: 40px;
	float: left;
}
.nav1{
	width: 89px;
	height: 27px;
	padding-top: 7px;
	background: url(../img/redfangkuai.png)no-repeat center center;
	margin-right: 36px;
}
.nav1 a{
	color: #fff;
	font-size: 16px;
}
.nav2{
	width: 89px;
	height: 27px;
	padding-top: 7px;
	margin-right: 36px;
}
.nav2 a{
	color: #333333;
	font-size: 16px;
}
.hongxian{
	height: 3px;
	margin:0 auto;
	background: url(../img/hongxian.png) no-repeat center center;
}
.banner{
	height: 462px;
	margin:0 auto;
	background: url(../img/0-1.png) no-repeat center center;
}
.bannerspace{
	height: 429px;
	margin: 0 auto;
}
.changepicture{
	width: 128px;
	height: 20px;
	margin: 0 auto;
}
.changepicture li{
	float: left;
}
.changepicture1{
	margin-left: 21px;
	margin-right: 14px;
}
.changepicture2{
	margin-left: 14px;
	margin-right: 14px;
}




     /* 首部和banner结束*/
     /*内容开始*/



.content{
	margin:0 auto;
	width:1200px;
	height:780px;
}
.goout{
	font-family: '微软雅黑';
	font-size: 14px;
    margin-top: 36px;
    margin-bottom: 31px;
}
.chuxingjiesong{
	font-family: '微软雅黑';
    font-size: 22px;
    text-align: center;
    margin-bottom: 37px;
}
.nav3{
	width: 1200px;
	height: 600px;
	border-color: #dcdcdc;
	border-style: solid;
	border-width: 1px 1px;
	margin-bottom: 53px;
}
.shunfengche{
	width: 990px;
	height: 585px;
	font-family: '微软雅黑';
	font-size: 16px;
	padding-left: 23px;
	float: left;
}
.nine1 li{
	padding-bottom: 31px;
}
.first{
    padding-top: 28px;
}
.last{
    padding-bottom: 79px;
}
.riqi{
	width: 108px;
	height: 585px;
	font-family: '微软雅黑';
	font-size: 16px;
	float: left;
}
.nine2 li{
	padding-bottom: 31px;
}
.result{
	width: 70px;
	height: 585px;
    font-family: '微软雅黑';
	font-size: 16px;
	float: left;
}
.nine3 li{
	padding-bottom: 31px;
}
.color{
	color: red;
}
.same{
    width: 1200px;
    height: 82px;
    color: #a1a1a1;
	font-family: '微软雅黑';
	font-size: 18px;
}
.shou{
	margin-left: 500px;
	margin-right: 20px;
	border-color: #b8b8b8;
	border-style: solid;
	border:1px 1px;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 13px;
    float: left;
}
.up{
	margin-right: 20px;
	border-color: #b8b8b8;
	border-style: solid;
	border:1px 1px;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 13px;
    float: left;
}
.down{
	margin-right: 20px;
	border-color: #b8b8b8;
	border-style: solid;
	border:1px 1px;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 13px;
    float: left;
}
.last2{
	margin-right: 20px;
	border-color: #b8b8b8;
	border-style: solid;
	border:1px 1px;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 13px;
    float: left;
}



     /*内容结束*/
     /*尾部开始*/



.redend{
	width: 100%;
	height: 86px;
	margin:0 auto;
	background-color: #f83838;
}
.redend1{
	width: 1200px;
	height: 86px;
	margin:0 auto;
}
.redend1 li{
	float: left;
	color: #fff;
}
.redend1 p{
	float: right;
	margin-top: 34px;
}
.redendlist1{
	width: 138px;
	height: 86px;
	margin-right: 107px;
}
.redendlist1 p{
	margin-right:3px;
}
.redendlist1 img{
	margin-top:15px;
}
.redendlist2{
	width: 138px;
	height: 86px;
	margin-right: 107px;
	margin-left: 107px;
}
.redendlist2 img{
	margin-top:15px;
}
.redendlist3{
	width: 138px;
	height: 86px;
	margin-left: 107px;
}
.redendlist3 img{
	margin-top:15px;
}
.blackend{
	height: 248px;
	margin:0 auto;
	background-color: #2e2e2e;
}
.blackend1{
	width: 1200px;
	height: 150px;  
	margin:0 auto;
	border-bottom: solid 1px #454545;
}
.blackend1 li{
	float: left;
}
.xiaobiaoti{
	width: 67px;
	height: 20px;
	color: #f5f5f5;
	font-size: 16px;
	margin-top:5px;
	margin-bottom: 11px;
}
.blackend1 a{
	color: #f5f5f5;
	font-size: 14px;
}
.blacklist1{
	width: 95px;
	height: 115px;
	margin-left: 11px;
	margin-right: 88px;
	margin-top:20px;
	line-height: 26px;
}
.blacklist2{
	width: 95px;
	height: 115px;
	margin-right: 88px;
	margin-left:88px;
	margin-top:20px;
	line-height: 26px;
}
.blacklist3{
	width: 95px;
	height: 115px;
	margin-left: 88px;
	margin-top:20px;
	line-height: 26px;
}
.blackend2{
	width: 1200px;
	height: 71px;
	margin: 0 auto;
	padding-top: 26px;
}
.ending{
	width: 610px;
	height:15px;
	margin: 0 auto;
	margin-top: 27px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #989898;
}
.ending li{
	float: left;
	border-right: solid 1px #a4a4a4;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 14px;
}
.ending li:last-child{
	border: none;
}
.ending1{
	width: 570px;
	height:16px;
	margin: 0 auto;
	margin-top: 27px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #989898;
}
